version: '3.8'

services:
  web:
    build: .
    command: gunicorn --workers 2 --threads 4 --bind 0.0.0.0:8000 backend.wsgi:application
    ports:
      - "8000:8000"
    volumes:
      - media_volume:/app/media
      - static_volume:/app/staticfiles
    environment:
      - POSTGRES_DB=piicasso_db
      - POSTGRES_USER=piicasso_user
      - POSTGRES_PASSWORD=piicasso_password
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - REDIS_URL=redis://redis:6379/1
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=piicasso_db
      - POSTGRES_USER=piicasso_user
      - POSTGRES_PASSWORD=piicasso_password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U piicasso_user -d piicasso_db" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
  static_volume:
  media_volume:
